nav {
    margin-top: 200px;
    height: 70px;
    background-color: var(--navbar-footer-color);
}

.item {
    font-size: 15px;
    cursor: pointer;
    color: var(--primary-color);

}

.navlink:hover {
    /* background-color: var(--secondary-color);
    border-radius: 10px;
    transition: all 0.5s; */
}