<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-them-secondary">
                <div class="card-body text-center">
                    <h1 class="text-them-primary">All posts</h1>
                    <p class="text-them-primary">you can manage your blog posts from here</p>
                    <button class="btn btn-success bg-them-primary text-white" routerLink="new">Add New Post</button>
                    <button class="btn btn-warning ms-3" routerLink="/dashboard">back to Dashboard</button>
                </div>
            </div>
        </div>
    </div>
</div>
