<div class="bg-theme-primary p-5">
    <div class="container">
        <h1 class="text-white">GENERAL KNOWLEDGE</h1>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, molestias!</p>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center gap-4 pt-5 pb-5 bg-black">
        <div class="col-12  col-md-6">
            <app-post-card></app-post-card>
        </div>
        <div class="col-12 col-md-6 ">
            <app-post-card></app-post-card>
        </div>
        <div class="col-12 col-md-6  me-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-12 col-md-6  me-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-12 col-md-6 me-3 ">
            <app-post-card></app-post-card>
        </div>
        <div class="col-12 col-md-6 me-3 ">
            <app-post-card></app-post-card>
        </div>
    </div>
</div>
