<section class="featured-section">
    <div class="contianer-fluid">
        <div class="row">
            <div class="col-md-12 pt-5 text-center  text-light">
                <h2>Featured Posts </h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-4">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>
<section class="contianer mt-5 p-5">
        <div class="row">
            <div class="col-md-12 text-center text-dark">
                <h2 class="latest-title">Latest Posts</h2>
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, facilis.</p>
            </div>
        </div>
        <div class="row gap-4 justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-12  col-md-6 col-lg-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-12  col-md-6 col-lg-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-12  col-md-6 col-lg-4">
                <app-post-card></app-post-card>
            </div>
        </div>

</section>