<div class="container ">
    <div class="row">
        <div class="col-12 col-md-8 p-3">
            <div class="card shadow-effect ">
                <img src="https://images.pexels.com/photos/15430693/pexels-photo-15430693.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
                    alt="post image" class="card-img-top img-fluid"/>
                <div class="card-body">
                    <div class="d-flex justify-content-start gap-4 mb-3 p-2">
                        <small class="text-danger">Inspiring</small>
                        <small class="text-success">feautured</small>
                        <small class="text-primary">Views-13837,930</small>
                        <small class="text-warning">lsat View :20 sep 2022</small>
                    </div>  

                    <div class="">  
                        <h1 class="card-title m-3">the difference between final , finally and finalize() In Java</h1>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, quae?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Reprehenderit cumque sapiente repellat in id enim quas 
                            vel quasi delectus tenetur!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, 
                            sequi. Ex in voluptas hic excepturi optio totam odio iure quia?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Provident, quam?
                            Voluptatem dolore, sapiente ab ducimus
                            molestiae dolor doloremque, incidunt nemo vitae asperiores 
                            repellendus atque eligendi iusto odio eaque blanditiis sit totam 
                            libero similique, mollitia aliquid magnam! Cum quasi quisquam id 
                            voluptatibus et, eaque laboriosam eveniet error iste! Doloribus 
                            voluptates natus ab deserunt a consequatur veritatis ullam quam non. 
                            Nemo ad alias in possimus? Modi saepe officiis rerum. Explicabo enim 
                            aliquam neque, eaque praesentium rerum nobis suscipit veritatis nesciunt 
                            tempore inventore amet! Aut minus in dolor culpa error saepe accusantium, 
                            velit magni
                            necessitatibus facere, esse ex, eveniet ea assumenda iste mollitia?
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="mt-4">
                <app-comment-form></app-comment-form>
            </div>

        </div>

        <div class="col-12 col-md-4  pt-3 pb-3">
            <div class="d-flex flex-column justify-content-center align-items-center gap-3 ">
                <app-post-card></app-post-card>
            
                <app-post-card></app-post-card>
                
                <app-post-card></app-post-card>
                
            </div>
        </div>
    </div>
</div>
