
<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow-effect" [routerLink]="'categories'">
                <div class="card-body text-center bg-them-secondary">
                    <h1 class="text-them-primary"><i class="fa fa-clipboard-list"></i></h1>
                    <h2 class="text-them-primary">Category</h2>
                    <p>Manage your categories here</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-effect" [routerLink]="'posts'">
                <div class="card-body text-center bg-them-secondary">
                    <h1 class="text-them-primary"><i class="fa fa-files"></i></h1>
                    <h2 class="text-them-primary"> Posts</h2>
                    <p>Manage your posts here</p>
                </div>
            </div>
        </div>
    </div>
</div>