<footer>
    <div class="container-fluid row">

        <div class="col-md-12 text-center">
            <div class="logo">Blog-App</div>
        
            <div class="text-center">
                <ul class="navbar justify-content-center gap-3">
                    <li class="nav-link" routerLink="home">Home </li>
                    <li class="nav-link" routerLink="aboutus">About</li>
                    <li class="nav-link" routerLink="contact">Contact</li>
                    <li class="nav-link" routerLink="terms&condition">terms & conditions</li>
                </ul>  
            </div>
            
            <p class="text-center mt-2 mb-2">Copyright &COPY; 2022 Blogsite</p>
        
        </div>  
    </div>
</footer>
