/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "~ngx-toastr/toastr";

:root {
    --primary-color : #006d77;
    --secondary-color : #83c5be ;
    --text-color : #023047;
    --navbar-footer-color: #edf6f9 ;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--primary-color);
}

.logo {
    padding: 8px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: var(--primary-color);
    cursor: pointer;
}

.logo:hover {
    opacity: .9;
}

.shadow-effect {
    border: none;
    box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}

.card-title {
    color: var(--text-color) !important;
}

.bg-them-primary {
    background-color: var(--primary-color) !important;
}

.bg-them-secondary {
    background-color: var(--secondary-color) !important;
}


.text-them-primary {
    color: var(--primary-color);
}

.text-them-secondary {
    color: var(--secondary-color);
}