<div class="card" style="width: 18rem;">
    <img src="https://www.pexels.com/fr-fr/photo/main-boire-porter-tasse-en-plastique-13169922" class="card-img-top" alt="Blog image">
    <div class="card-body">
        <div class="w-100 d-flex justify-content-between">            
                <small class="nav-link text-danger">Inspiring</small>
                <small class="nav-link text-success">feautured</small>
                <small class="nav-link text-primary">Views-100,352</small>
        </div>
        <h5 class="card-title mt-3">The ultimate java roadmap learning guide</h5>
        <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's
            content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt repellendus omnis sit dicta facilis vel?
        </p>
        <small class="text-warning mr-3 ">Last Views : 20-12-2022</small>
        
    </div>  
</div>